<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tugas_besar_akb_if3_cepat_lulus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tugas_Besar_AKB_IF3_Cepat_Lulus">
        <activity
            android:name=".AhmadActivity"
            android:exported="false" />
        <activity
            android:name=".FikriActivity"
            android:exported="false" />
        <activity
            android:name=".FakhriActivity"
            android:exported="false" />
        <activity
            android:name=".FauziActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPager3"
            android:exported="false" />
        <activity
            android:name=".ViewPager2"
            android:exported="false" />
        <activity
            android:name=".ViewPager1"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OjiActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>